<%= form_for @picture do |f| %>
    <%= f.text_field :title, placeholder: "Title" %><br>
    <p><%= f.label :description %>:</p>
    <%= f.text_area :description %><br><br>
    
    <%= f.file_field :image  %><br>
    <%= f.submit %>
<% end %>