<h1>Show page</h1>

<%= render partial: "layouts/picture", locals: {picture: @picture, width:400, height:300} %>
<%= button_to "Edit Info", edit_picture_path(@picture), method: :get %>
<%# comment section %>
<h2>Comments</h2>

<%= form_for [@picture, Comment.new] do |f| %>
    <%= f.text_area :content, placeholder: "Add a comment" %><br>
    <%= f.submit "Add Comment" %>
<% end %>
<div class=flex-holder><ul>
    <%= render partial: 'layouts/comment', collection: @picture.comments %>
</ul></div>