<h1>Account Dashboard</h1>
<h1> <%= current_user.username %> Dashboard</h1>
<h4>Newest 5 pictures:</h4>
<div class=flex-holder>
    <% @pictures.newest_5.each do |picture| %>
        <%= link_to picture_path(picture) do %>
            <div class = flex-container>
                <%= render partial: "layouts/picture", locals: {picture: picture, type: "list"} %>
                <%= render partial: "layouts/comment", locals: {comments: picture.comments, type: "preview"} %>
            </div><%#flex-container %>
        <% end %>
        
    <% end %>
</div> <%# flex-holder %>
<h4>New comments since your last visit</h4>
<%= render partial: "layouts/comment", locals: {comments: @comments, type: "preview"} %>
 <br><br>
<%= link_to "More pictures...", pictures_path %><br>
<%= link_to "Add picture", new_picture_path %>

<br><br>
