<% if defined?(type) && type=="list"%>
        <div>
            <% if !!defined?(width) || !!defined?(height) %>
                <%= image_tag picture.image.variant(resize_to_limit: [width, height]) %>
            <% else %>
                <%= image_tag picture.image.variant(resize_to_limit: [nil, 300]) %>
            <% end %>
        </div>
        <div>
            <h3 class=flex><%= picture.title %></h3>
            <small>By <%= picture.get_authorname %></small><br>
            <small>Submitted <%= time_ago_in_words(picture.created_at) %> ago<br></small>
        </div>
<% else %>
    <p><% if (!!defined?(width) || !!defined?(height) )%>
        <%= image_tag picture.image.variant(resize_to_limit: [width, height]) %>
    <% else %>
        <%= image_tag picture.image.variant(reize_to_limit: [800, 500]) %>
    <% end %></p>
    <h3 class=flex><%= picture.title %></h3><br>
    <small>Submitted <%= time_ago_in_words(picture.created_at) %> ago<br>
    Has <%= pluralize(picture.comments.count, "comment") %> </small>

<% end %>
